@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,500&family=Yeseva+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --coral: #E87774;
    --coral-transparent: rgba(232,119,116,0.75);
    --note-background: #EAE9F6;
    --text-color: #332838;
    --heading-font: 'Yeseva One', cursive;
    --body-font: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 380px;
}

@media (min-width: 1440px) {
    .container {
        width: 1440px;
    }
}
.navbar {
    background-color: #E87774;
    text-align: center;
}

@media (min-width: 1440px) {
    .navbar {
        background-color: #fff;
        padding: 1rem 5rem;
        text-align: start;
    }
}

.logo-pc {
    display: none;
}
.logo-mobile {
    padding: 3rem 0rem;
}

@media (min-width: 1440px) {
    .logo-pc {
        display: block;
        float: inline-start;
    }
    .logo-mobile {
        display: none;
    }
}
.menu a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 3rem;
}

@media (min-width: 1440px) {
    .menu a {
        color: #E87774;
    }
    .menu {
        flex-direction: row;
        justify-content: end;
        gap: 2rem;
        padding-bottom: 0;
    }
}

.nadpis-pozadi {
    background-image: url(../images/banner.png);
    background-position: center;
    background-size: cover;
}
.nadpis-pozadi h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    font-family:  'Yeseva One', cursive;
    background-color: rgba(232,119,116,0.75);
    padding: 8px 16px;
}
.nadpis {
    padding: 4rem 1rem;
}
@media (min-width: 1440px) {
    .nadpis-pozadi h1 {
        font-size: 72px;
    }
    .nadpis {
        padding: 14rem 17rem;
    }
}
.prohlidka h2 {
    padding: 2rem 3rem;
    color: #E87774;
}
.prohlidka h2, h3, .inzeraty h2 {
    font-family:  'Yeseva One', cursive;
    font-size: 28px;
    font-weight: 400;
}
.prohlidka h3, p {
    color: #332838;
}
.prohlidka, .inzeraty h2 {
    text-align: center;
}
.prohlidka h3 {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}
.prohlidka p {
    padding-bottom: 3rem;
    width: 280px;
    margin: auto;
}

.inzeraty h2 {
    color: #E87774;
    padding-bottom: 2.5rem;
}

.box-text1 p, .box-text2 p, .box-text3 p {
    font-size: 12px;
    color: #332838;
    padding: 0.5rem 0rem;
}
.box-text1 h4, .box-text2 h4, .box-text3 h4 {
    color: #332838;
    font-size: 13px;
}
.mail {
    font-style: italic;
}
.box-text1, .box-text2, .box-text3{
    background-color: #EAE9F6;
    margin-bottom: 1rem;
    padding: 0rem 1rem;
    border-radius: 5px;
}
.boxes {
    padding: 0rem 3rem;
}
.made {
    text-align: center;
    padding: 3rem 0rem;
}